
@font-face {
  font-family: Aller;
  src: url("/assets/fonts/Aller_Rg.ttf");
}
@font-face {
  font-family: Aller-light;
  src: url("/assets/fonts/Aller_Lt.ttf");
}
@font-face {
  font-family: Aller-bold;
  src: url("/assets/fonts/Aller_Bd.ttf");
}