.align-right {
	text-align: right;
}
.center {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.center-content {
	text-align: center;
}

.bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 350px;
	padding: 20px 0;
}

@media (min-width:$tablet-portrait){
	.bottom {
		height: 160px;
	}
}

@media (min-width:$tablet-landscape){
	.bottom {
		height: 80px;
	}
}

